body {
	margin: 0 auto;
	margin-top: 20px;
	width: 65%;
	color: #575757;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif;
}

a {
    text-decoration: none;
    font-size: 14px;
}

a:link { color: #2260DD; }
a:visited { color: #114514; }
a:hover { color: #ff0000; }
a:active { color: #FFD700; } 

h1 { 
	color: #000000;
 }

h3 { 
	text-align: center;
	color: #000040;
 }

fz{
	color: #FFD700;
	font-size: 60px;
}

fieldset {
	border: 1px solid #D0D0D0;
	padding: 1em;
	border-radius: 5px;
}

fieldset div {
	display: flex;
	padding-bottom: 0.4em;
}



table {
	border-collapse: collapse;
	background-color:#efeb8f;
}

td, th { padding: 0.2em 0.7em; }

th {
	border: 1px solid #D0D0D0;
	font-size: 16px;
	background: #F0F0F0;
}

td {
	border: 1px solid #D0D0D0;
	font-size: 16px;
}

form { padding-top: 1em; }

label {
	width: 10em;
  	padding-right: 0.5em;
}

input[readonly] {
	border: none;
}

input[type="date"] {
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif;
}

input[type="reset"], .button-panel input[type="submit"] {
	border: 1px solid #2260DD;
	background: #2260DD;
	border-radius: 3px;
	color: #FFF;
	font-size: 16px;
	padding: 1px 12px;
	text-align: center;
	cursor: pointer;
}

footer {
	text-align: center;
	font-size: 12px;
	background: #D3D3D3;
	color: #8B0000;
	margin-top: 100px;
}

.error { color: red; }

.login-panel input  {
	flex: 1 1 auto;
	font-size: 16px;
	font-family: Verdana;
}

#new-button {
	background: #2260DD;
	border-radius: 3px;
	color: #FFF;
	font-size: 16px;
	padding: 1px 12px;
	text-align: center;
}
#menu{
	font-size:30px;
	background-color:#efeb8f;
	font-weight:bold;
}

#menu2{
	background-color:#efeb8f;
}

#menu3{
	height: 768px;
	width: 768px;
	background-color:#efeb8f;
}

#fontop{
	font-size: 30px;
	font-style: italic;
}


#menu01 {
	width:164px; height:42px;	/*背景画像に合わせたサイズ指定*/

}
#menu02 {
	width:156px; height:42px;	/*背景画像に合わせたサイズ指定*/
	
}
#menu03 {
	width:156px; height:42px;	/*背景画像に合わせたサイズ指定*/
	
}
#menu04 {
	width:156px; height:42px;	/*背景画像に合わせたサイズ指定*/
	
}
#menu05 {
	width:164px; height:42px;	/*背景画像に合わせたサイズ指定*/

}

#menu-panel a {
	font-size: 30px;
	background: #FFD464;
}

#side-menu{
	height:60%;
	width:60%; 
	background-color:#efeb8f;
	font-weight:bold;
}
.button-panel {
	background: #FFD464;
	text-align: right;
}

.login-panel {
	margin: 0 auto;
	width: 50%;
}

.login-user {
	color: #8B0000;
}

.search-box {
	background: #FFD464;
	padding-left: 3px;
	padding-bottom: 3px;
	border: 0.3px solid #D0D0D0;
	border-radius: 3px;
}

.search-box form {
	padding-top: 0;
}

.list-table {
	margin-top: 10px;
}

.entry-form th {
	text-align: right;
}